@import './reset';
@import './extend';
@import './color';
@import './mixin';


.container{
  margin: 0 auto;
}

// nav
nav{
  position: relative;
  height: 56px;
  @extend %standard-boxshadow;
  .nav__toggle{
    display: none;
    &:checked{
      & ~ [class="navbar"]{
        transform: scale(1 , 1);
        & > ul , [class="nav__icons"]{
          opacity: 1;
          transition: opacity .1s ease-in .3s;
        }
      }
    }
  }
  .navbar{
    position: absolute;
    z-index: 999;
    top:100%;
    width: 100%;;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 , 1fr);
    height: 394px;
    transform: scale(1 , 0);
    transform-origin: top;
    transition: transform .3s ease-in;
    background-color: $white;

    .nav__links{
      grid-area: span 5 / 1 / 6 / 2;
      display: grid;
      grid-template-rows: repeat ( 5 , 1fr);
      justify-items: center;
      align-items: center;
      opacity:0;
      .nav__link{
        position: relative;
        font-weight: bold;
        width: 100%;
        text-align: center;

        &:after{
          content: '';
          position: absolute;
          top:calc(100% + 24px);
          left: 14px;
          right: 14px;
          border-bottom: 1px solid rgba(42, 42, 42, 0.1);

        }
      }
    }
    .nav__icons{
      display: flex;
      justify-content: center;
      align-items: center;
      opacity:0;
      .nav__icon{
        height: 21px;
        width: 21px;
      }
      :nth-last-child(2){
        margin: 0 50px;
      }
      :nth-child(4){
        background: var(--darkmode-toggle-url);
        background-size: cover;
      }
    }
  }
  .nav__logo{
    position: absolute;
    width: 135.85px;
    height: 24px;
    background: var(--logo-url);
    background-size: cover;
    @extend %position-center;
    
  } 
  .nav__toggle__label{
    position: absolute;
    left: 17px;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;

    .hamburger{
      position: relative;
      width: 30px;
      height: 3px;
      background-color: var(--body-color);
      &:before , &:after{
        content:'';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: var(--body-color);
      }
      &:before{
        top:-8px;
      }
      &:after{
        bottom:-8px;
      }
    }
  }
}

// main
main{
  position: relative;
  .title{
    margin: 1rem;
  }
  .stepper{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 32px;
    justify-content: center;
    .step{
      position: relative;
      .label__container{
        display: none;
      }
      .circle__container{
        height: 2rem;
        width: 2rem;
        border: 1px solid var(--unselected-step);
        color: var(--unselected-step);
        border-radius: 50%;
      }
    }
    :nth-child(1){
      .circle__container{
        position: absolute;
        left: 1rem;
        &:after{
          content:'1';
          position: absolute;
          @extend %position-center;
        }
      }
    }
    :nth-child(2){
      position: relative;
      display: flex;
      justify-content: center;
      .circle__container{
        &:after{
          content:'2';
          position: absolute;
          @extend %position-center;
        }
      }
      .connect__line{
        position: absolute;
        height: 1px;
        top:50%;
        left:calc(-100% + 80px);
        right:calc(50% + 48px);
        background-color: rgb(8, 8, 8);
      }
    }
    :nth-child(3){
      .circle__container{
        position: absolute;
        right: 1rem;
        &:after{
          content:'3';
          position: absolute;
          @extend %position-center;
        }
      }
      .connect__line{
        position: absolute;
        height: 1px;
        top:50%;
        left:calc(-50% + 48px);
        right:80px;
        background-color: var(--unselected-step);
      }
    }
    div.step{
      &.active{
        .circle__container, .connect__line{
        border: 1px solid var(--selected-step);
        color: var(--selected-step);
        }
      }
      &.checked{
        .circle__container{
          color: $white;
          background-color: var(--selected-step);
          &:after{
            content:'\2714'
          }
        }
      }
    }
  }
  form{
    .form__content{
      .form__title{
          margin: 24px;
      }
      // form part 1
      :nth-child(1){
        .inputs__wrapper{
          display: grid;
          grid-template-rows: repeat(5 , 1fr);
          grid-template-columns: repeat(5 , 1fr);
          padding: 0 1rem;
          .form__group{
            display: flex;
            flex-direction: column;
            label{
              font-size: 12px;
              color: var(--form-title);
            }
            .form__control{
              margin: 0.5rem 0 1rem;
              @extend %input-style;           
            }
          }
          :nth-child(1){
            grid-area: 1 / span 2 / 2 / 3;
            .form__control{
              margin-right: 30px;
            }
          }
          :nth-child(2){
            grid-area: 1 / span 3 / 2 / 6;
          }
          :nth-child(3){
            grid-area: 2 / 1 / 3 / 6;
          }
          :nth-child(4){
            grid-area: 3 / 1 / 4 / 6;
          }
          :nth-child(5){
            grid-area: 4 / 1 / 5 / 6;
          }
          :nth-child(6){
            grid-area: 5 / 1 / 6 / 6;

          }
  
        }
      }
      // form part 2
      :nth-child(2){
        .inputs__wrapper{
          position: relative;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(2 , 60px);
          grid-gap: 1.5rem 0;
          padding: 0 1rem;
             
          .form__group{
            position: relative;
            border: 1px solid var(--selected-step);
            border-radius: 4px;
            .form__control{
              position: absolute;
              top:50%;
              left: 20px;
              transform: translateY(-70%);
              height: 20px;
              width: 20px;
              border-radius: 50%;
              &:checked{
                box-shadow: inset 0  0  0  2px $secondary-blue;
              }
            } 

            label{
              display: flex;
              flex-direction: column;
              margin: 11px 60px;
              span:nth-of-type(1){
                font-size: 14px;
              }
              span:nth-of-type(2){
                font-size: 12px;
              }
            }
            .shipping__cost{
              position: absolute;
              right: 20px;
              top: 13px;
              font-size: 12px;
            }        
          }
          :nth-child(3){
            grid-area: 1 / 1 / 2 / 2;
          }
          :nth-child(4){
            grid-area: 2 / 1 / 3 / 2;
          }          
        }
      }
      // form part 3
      :nth-child(3){
        .inputs__wrapper{
          display: grid;
          grid-template-rows: repeat ( 3 , 1fr);
          grid-template-columns: repeat ( 2 , 1fr);
          padding: 0 1rem;
          .form__group{
            display: flex;
            flex-direction: column;
            justify-content: center;
            label{
              font-size: 12px;
              color: var(--form-title);
            }
            .form__control{
              margin: 8px 0 24px;
              @extend %input-style;           
            }
          }   
          :nth-child(1){
            grid-area: 1 / 1 / 2 / 3;
          }      
          :nth-child(2){
            grid-area: 2 / 1 / 3 / 3;
          }      
          :nth-child(3){
            grid-area: 3 / 1 / 4 / 2;
            width: 90%;
          }      
          :nth-child(4){
            grid-area: 3 / 2 / 4 / 3;
            width: 90%;
          }      
        }
      }  
    }
    .form__btn--control{
      position: absolute;
      width: 100%;
      bottom: -150px;;
      .btn__container{
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        border-top: 1px solid var(--divider);
        margin: 3rem 1rem;
        padding-top: 24px;
        button{
          height: 46px;
          width: 100%;
          font-size: 14px;
          font-size: 14px;
        }
        button:nth-of-type(1){   
          display: none;     
          color: var(--body-color);
          text-align: left;
        }
        button:nth-of-type(2){        
          background-color: var(--next-btn);
          color: var(--body-bg);
        }
  
      }
    }
  }
  .content__lower{
    .cart{
      border: 1px solid var(--cart-btn);
      margin: 0 1rem;
      .cart__items{
        padding: 1rem;
        .cart__item{
          display: flex;
          margin: 1rem 0;
          img{
            flex-basis: 30%;
            max-height: 100px;
            max-width: 100px;
          }
          .cart__item--content{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items:flex-end;
            font-size: 1rem;
            .cart__item--info{
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              .item__quantity{
                display: grid;
                grid-auto-flow: column;
                grid-gap: 5px;
                align-items: center;
                margin: 1rem 0;
                .item__quantity--number{
                  width: 50px;
                  text-align: center;
                  font-size: 14px;
                }
                .item__quantity--btn{
                  position: relative;
                  height: 26px;
                  width: 26px;
                  border-radius: 50%;
                  background-color: var(--cart-btn);
                  &::before{
                    position: absolute;
                    @extend %position-center;
                  }
                }
                .item__quantity--minus::before{
                  content:'-';
                }
                .item__quantity--plus::before{
                  content:'+';
                }


              }
            }
          }
        }
      }
    }
    .cart__charge{
      display: grid;
      grid-auto-rows: 3.5rem;
      > div {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-top: 1px solid var(--divider);
      }
    }
  }
}

